awscli==1.6.2
backports-abc==0.5
backports.functools-lru-cache==1.4
backports.shutil-get-terminal-size==1.0.0
backports.ssl-match-hostname==3.5.0.1
bcdoc==0.12.2
beautifulsoup4==4.6.0
bleach==2.1.1
boto==2.33.0
botocore==0.73.0
bs4==0.0.1
bz2file==0.98
certifi==2015.4.28
chardet==3.0.4
colorama==0.2.5
configparser==3.5.0
cycler==0.10.0
Cython==0.27.1
decorator==4.0.9
-e git+https://github.com/phanein/deepwalk.git@96af38c3f59024ac090ea0ef433779ed4089bbe7#egg=deepwalk
docutils==0.14
entrypoints==0.2.3
enum34==1.1.6
futures==3.1.1
gensim==3.0.1
genson==0.1.0
graphviz==0.8
html5lib==1.0b10
idna==2.6
ipykernel==4.6.1
ipython==5.5.0
ipython-genutils==0.2.0
ipywidgets==7.0.1
Jinja2==2.9.6
jmespath==0.5.0
jsonschema==2.5.1
jupyter==1.0.0
jupyter-client==5.1.0
jupyter-console==5.2.0
jupyter-core==4.3.0
lxml==4.9.1
MarkupSafe==1.0
matplotlib==2.1.0
mistune==0.7.4
multipledispatch==0.4.9
mwparserfromhell==0.5
nbconvert==5.3.1
nbformat==4.4.0
networkx==2.0
nltk==3.2.5
notebook==5.1.0
numpy==1.13.3
oauthlib==2.0.6
pandas==0.20.3
pandocfilters==1.4.2
pathlib2==2.3.0
pexpect==4.2.1
pickleshare==0.7.4
prettytable==0.7.2
prompt-toolkit==1.0.15
psclient==2.0
psutil==5.4.0
ptyprocess==0.5.2
pyasn1==0.3.7
Pygments==2.2.0
pyparsing==2.2.0
python-dateutil==2.6.1
python-louvain==0.9
pytz==2017.2
pyzmq==16.0.2
qtconsole==4.3.1
randomcolor==0.4.4.5
requests==2.9.1
requests-oauthlib==0.8.0
rsa==3.1.2
scandir==1.6
scikit-learn==0.19.0
scipy==0.19.1
simplegeneric==0.8.1
simplejson==3.11.1
singledispatch==3.4.0.3
six==1.11.0
sklearn==0.0
smart-open==1.5.3
sseclient==0.0.8
terminado==0.6
testpath==0.3.1
tornado==4.3
traitlets==4.3.2
twython==3.6.0
urllib3==1.22
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.0.3
wikipedia==1.4.0
